A {
	FONT-FAMILY: Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}
.BGColorVeryDark {
	BACKGROUND-COLOR: #003366
}
.BGColorDark {
	BACKGROUND-COLOR: #336699
}
.BGColorMedium {
	BACKGROUND-COLOR: #6699cc
}
.BGColorLight {
	BACKGROUND-COLOR: #99ccff
}
.BGGrayVeryDark {
	BACKGROUND-COLOR: #333333
}
.BGGrayDark {
	BACKGROUND-COLOR: #666666
}
.BGGrayMedium {
	BACKGROUND-COLOR: #999999
}
.BGGrayLight {
	BACKGROUND-COLOR: #cccccc
}
.BGAccentVeryDark {
	BACKGROUND-COLOR: #999966;
	background-image: url(/Common/images/accentVeryDark.gif);
}
.BGAccentDarkBlue {
	BACKGROUND-COLOR: #003366;
	background-image: url(/Common/images/accentDarkBlue.gif);
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;	
}
.BGAccentDark {
	BACKGROUND-COLOR: #cccc99;
	background-image: url(/Common/images/accentDark.gif);
}
.BGAccentMedium {
	BACKGROUND-COLOR: #ffffcc
}
.BGAccentLight {
	BACKGROUND-COLOR: #f7f7e7
}
body {
	FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
	BACKGROUND-COLOR: #ffffff;
	background-image: url(/Common/images/body_back.gif);
	background-repeat: repeat-x;
}
.PromptText {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: right
}
.DataText {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.FieldText {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.FieldTextDisabled {
	FONT-SIZE: 10pt; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.FieldNumber {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: right
}
.FieldNumberDisabled {
	FONT-SIZE: 10pt; COLOR: #999999; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: right
}
.InstructionText {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.InstructionTextStrong {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ButtonText {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7
}
.ButtonTextDisabled {
	FONT-SIZE: 10pt; COLOR: #999966; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7
}
.ApplicationSwitcherText {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.GlobalButtonText {
	FONT-SIZE: 8pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.GlobalButtonTextSelected {
	FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.GlobalButtonTextDisabled {
	FONT-SIZE: 8pt; COLOR: #999966; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.LinkText {
	FONT-SIZE: 10pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.VLinkText {
	FONT-SIZE: 10pt; COLOR: #996633; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ALinkText {
	FONT-SIZE: 10pt; COLOR: #ff6600; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.TipLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.TipText {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.InlineInfoText {
	FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ErrorText {
	FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ErrorNameText {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.InlineErrorText {
	FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.Header {
	FONT-SIZE: 16pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.HeaderSub {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.HeaderSubSub {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.DarkHeader {
	FONT-SIZE: 16pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.DarkHeaderSub {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.DarkHeaderSubSub {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.LightHeader {
	FONT-SIZE: 16pt; COLOR: #6699cc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.LightHeaderSub {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #6699cc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.LightHeaderSubSub {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #6699cc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ColorHeader {
	FONT-SIZE: 16pt; COLOR: #ffffcc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ColorHeaderSub {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffcc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ColorHeaderSubSub {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #ffffcc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.PortletHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.DarkPortletHeader {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ErrorHeader {
	FONT-SIZE: 16pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.IndentHeader {
	MARGIN: 20px
}
.SpacingHeader {
	MARGIN: 7px 0px 2px
}
.SpacingHeaderSub {
	MARGIN: 10px 0px 2px
}
.SpacingHeaderLarge {
	MARGIN: 20px 0px 2px
}
.SearchBorderStart {
	BORDER-RIGHT: #cccc99 0px solid; BORDER-TOP: #cccc99 0px solid; BORDER-LEFT: #cccc99 1px solid; BORDER-BOTTOM: #cccc99 0px solid
}
.SearchBottomStart {
	BORDER-RIGHT: #cccc99 0px solid; PADDING-RIGHT: 0pt; BORDER-TOP: #cccc99 0px solid; PADDING-LEFT: 5pt; PADDING-BOTTOM: 5pt; BORDER-LEFT: #cccc99 1px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: #cccc99 1px solid; BACKGROUND-COLOR: #f7f7e7
}
.GlobalPageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.TextInline {
	FONT-SIZE: 8pt; COLOR: #6699cc; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.TableTitle {
	FONT-SIZE: 13pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff
}
.Table {
	BACKGROUND-COLOR: #999966
}
.TableControlBarText {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99
}
.TableColumnHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.TableColumnHeaderNumber {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.TableColumnHeaderIconButton {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
.TableSortableColumnHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; CURSOR: hand; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.TableSortableColumnHeaderNumber {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; CURSOR: hand; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.TableSortableColumnHeaderIconButton {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; CURSOR: hand; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
.TableRowHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.TableColumnFooter {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.TableTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.TableAddTotal {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.TableTotalNumber {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: right
}
.TableTotalText {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: left
}
.TableCellText {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7
}
.TableCellTextBand {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff
}
.TableCellNumber {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: right
}
.TableCellNumberBand {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.TableCellIconButton {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center
}
.TableCellIconButtonBand {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.TableCellSelect {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center
}
.TableCellSelectBand {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.TableVerticalGrid {
	WIDTH: 1px; BACKGROUND-COLOR: #cccc99
}
.TableVerticalHeaderGrid {
	WIDTH: 1px; BACKGROUND-COLOR: #f7f7e7
}
.TableHorizontalGrid {
	WIDTH: 1px; BACKGROUND-COLOR: #cccc99
}
.TableHorizontalHeaderGrid {
	WIDTH: 1px; BACKGROUND-COLOR: #f7f7e7
}
.TableShadowHeaderGrid {
	WIDTH: 1px; BACKGROUND-COLOR: #666633
}
.TableHeaderLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-DECTION: none
}
.TableSortableHeaderLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: bottom; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-DECTION: none
}
.TableDetail {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff
}
.TrainActive {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: center
}
.TrainVisited {
	FONT-SIZE: 9pt; COLOR: #cccc99; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: center
}
.TrainUnvisited {
	FONT-SIZE: 9pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: center
}
.Privacy {
	FONT-SIZE: 8pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: right
}
.Copyright {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-ALIGN: left
}
.CrumbsSelected {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-DECTION: none
}
.CrumbsEnabled {
	FONT-SIZE: 9pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.NavBarActiveLink {
	FONT-SIZE: 10pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.NavBarInactiveLink {
	FONT-SIZE: 10pt; COLOR: #999966; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.NavBarViewOnly {
	FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.CalendarTitle {
	FONT-SIZE: 13pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.CalendarHeader {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #336699; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
.CalendarEnabled {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #336699; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center; TEXT-DECTION: none
}
.CalendarDisabled {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #999999; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center
}
.CalendarSelected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #ffffff; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #999966; TEXT-ALIGN: center
}
TABLE.CalendarDisabled A:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #336699; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center; TEXT-DECTION: none
}
TABLE.CalendarDisabled A:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #336699; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center; TEXT-DECTION: none
}
TABLE.CalendarDisabled A:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; COLOR: #336699; LINE-HEIGHT: 1.5; PADDING-TOP: 2px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7; TEXT-ALIGN: center; TEXT-DECTION: none
}
.SubTab {
	FONT-SIZE: 10pt; PADDING-BOTTOM: 2pt; COLOR: #999966; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #f7f7e7
}
.SubTabSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
TD.SubTabSelected A:link {
	FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-DECTION: none
}
TD.SubTabSelected A:active {
	FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-DECTION: none
}
TD.SubTabSelected A:visited {
	FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; TEXT-DECTION: none
}
.TreeIcon {
	VERTICAL-ALIGN: top
}
.TreeNodeAdjust {
	PADDING-BOTTOM: 2px
}
.TreeRowSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; BACKGROUND-COLOR: #336699
}
.TreeRow {
	FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
SPAN.TreeRow A:link {
	COLOR: #663300
}
SPAN.TreeRow A:active {
	COLOR: #663300
}
SPAN.TreeRow A:visited {
	COLOR: #663300
}
SPAN.TreeRowSelected A:link {
	COLOR: #ffffff; TEXT-DECTION: none
}
SPAN.TreeRowSelected A:active {
	COLOR: #ffffff; TEXT-DECTION: none
}
SPAN.TreeRowSelected A:visited {
	COLOR: #ffffff; TEXT-DECTION: none
}
.ShuttleHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.ShuttleLinkText {
	FONT-SIZE: 9pt; COLOR: #663300; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxList {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; COLOR: #336699; TEXT-INDENT: -15px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxParagraph {
	MARGIN-TOP: 15px; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxErrorList {
	FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; COLOR: #cc0000; TEXT-INDENT: -15px; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxErrorLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
.MessageBoxErrorParagraph {
	MARGIN-TOP: 15px; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif
}
BODY {
	MARGIN-TOP: 8px
}
TD.odd {
	background-color: #FFFFFF;
	padding: 2px;
}
TD.even {
	background-color: #FFFFFF;
	padding: 2px;
}
TD.rightMenuON {
	font-size: 12px;
	font-weight: bold;
	text-transform: capitalize;
	color: #99ccff;
	background-color: #336699;
	padding-right: 3px;
	padding-left: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #4c7fb2;
}
A.on, A.on:link, A.on:visited, A.on:active  {
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	text-transform: none;
	background-image: url(/Common/images/menupointer.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 5px;
}
TD.rightMenuOFF {
	font-size: 12px;
	text-transform: capitalize;
	color: #cccc99;
	background-color: #999966;
	padding-right: 3px;
	padding-left: 3px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccc99;
}
A.off, A.off:link, A.off:visited, A.off:active  {
	font-size: 12px;
	color: #ffffff;
	text-transform: none;
}
A.black, A.black:link, A.black:visited, A.black:active  {
	color: #000000;
}
A.white, A.white:link, A.white:visited, A.white:active  {
	color: #FFFFFF;
}
A.dark, A.dark:link, A.dark:visited, A.dark:active {
	color: #336699;
}
A.rss, A.rss:link, A.rss:visited, A.rss:active {
	color: #dc4d00;
}
.wizardPast {
	color: #cccc99;
	font-size: 11px;
}
.wizardCurrent {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699;
}
.wizardFuture {
	FONT-SIZE: 11pt; COLOR: #999966;
}
.BGAccentMediumBorder {
	border: thin solid #ffffcc
	padding: 2px;
}
.BGAccentLightBorder {
	border: thin solid #f7f7e7
	padding: 2px;
}
.BGAccentDarkBorder {
	background-color: #EFEFCF;
	border: thin solid #cccc99;
}
.BGAccentDarkBorderWhite {
	background-color: #FFFFFF;
	border: thin solid #cccc99;
}
.BGAccentVeryDarkBorder {
	background-color: #F7F7E6;
	border: thin solid #999966;
	padding: 5px;
}
.BGAccentDarkBlueBorder {
	background-color: #C6C6E3;
	border: thin solid #003366;
}
input.BGAccentDarkBlueBorder {
	background-color: #D8D8EB;
	border: thin solid #003366;
}
.padding {
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
}
.right {
	text-align: right;
}
input:focus {
	border: 2px solid #000000;
}
.label {
	font-weight: bold;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
input.error, TD.error {
	border: 2px solid #FF0000;
}
TD.error_under {
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #FF0000;
	border-left: none;
}
input.change, TD.change {
	border: 2px solid #003366;
}
.mainsection {font-size: 9pt;
	font-weight: bold;
	padding-left: 10px;
}
.play {
	font-size: 120%;
	font-weight: bold;
	color: #009400;
	text-decoration: none;
}
button.rss {
	border: none;
	color: #dc4d00;
	background-color: #FFFFFF;
	font-size: 12px;
	text-align: left;
}
.emailBorder {
	padding: 5px;
	border: thin dashed #999999;
}
.smallAreaI {
	font-size: 10px;
	text-align: center;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #999966;
	text-transform: uppercase;
	color: #999966;
	letter-spacing: 5px;
	vertical-align: bottom;
}
.smallAreaII {
	background-color: #EFEFCF;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
/* vdaemon Styles */
.valErrorList {
	background: url('/Common/images/required.gif') no-repeat 0 1px;
	padding-left: 25px;
	color: #FF0000
}
.valErrorListSmall {
	background: url('/Common/images/required.gif') no-repeat 0 1px;
	padding-left: 25px;
	color: #FF0000;
	font-size: 12px;
}
.valRequired {
	background: url('/Common/images/required.gif') no-repeat 0 1px;
	padding-left: 25px;
	font-weight: bold;
}
.valRequired2 {
	background: url('/Common/images/required-small.gif') no-repeat 2px 1px;
	padding-left: 24px;
	font-weight: bold;
}
.valError
{
	background: url('/Common/images/required.gif') no-repeat 0 1px;
	padding-left: 25px;
    font-weight: bold;
    color: #FF0000
}
.valError2
{
	background: url('/Common/images/required2.gif') no-repeat 0 1px;
	padding-left: 25px;
    font-weight: bold;
    color: #FF0000
}
.valErrorSmall
{
	background: url('/Common/images/required-small.gif') no-repeat 0 1px;
	padding-left: 18px;
    font-weight: bold;
    color: #FF0000
}
.valErrorSmall2
{
	background: url('/Common/images/required2-small.gif') no-repeat 0 1px;
	padding-left: 18px;
    font-weight: bold;
    color: #FF0000
}
.valNone
{
	background: transparent url('/Common/images/spacer.gif') no-repeat 0 1px;
	padding-left: 25px;
    font-weight: bold;
}
.valDollar
{
	background: transparent url('/Common/images/dollarError.gif') no-repeat 0 1px;
	padding-left: 21px;
    font-weight: bold;
}
/* End vdaemon Styles */

A.yes, A.yes:link, A.yes:visited, A.yes:active  {
	color: #336699;
	font-weight: bold;
}
A.no, A.no:link, A.no:visited, A.no:active  {
	color: #999999;
}
.accentVerydark {
	background-color: 999966;
}
.pagination {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699;
}
div#indicator {
	position: absolute;
	width: 100px;
	height: 40px;
	left: 20px;
	top: 150px;
	z-index: 900;
	background: url(/Common/images/indicator.gif) no-repeat 0 0;
}
.xpHeader {
	background-color: #FAF9F4;
	font-weight: bold;
	border-top: 1px none #FAF9F4;
	border-right: 1px solid #DED7B6;
	border-bottom: 1px solid #DED7B6;
	border-left: 1px none #FAF9F4;
	text-align: center;
	padding-top: 5px;
}
.xpHeaderLeft {
	background-color: #F3F2E4;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #DED7B6;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #DED7B6;
	text-align: center;
}
.xpHeaderTopActive {
	background-color: #F3F2E4;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F9B119;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DED7B6;
	border-left-color: #FFFFFF;
	text-align: center;
	padding-top: 5px;
}
.xpHeaderTop {
	background-color: #F3F2E4;
	font-weight: bold;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #DED7B6;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DED7B6;
	border-left-color: #FFFFFF;
	text-align: center;
	padding-top: 5px;
}
.xpHeaderBottomActive {
	background-color: #F3F2E4;
	font-weight: bold;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #F9B119;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DED7B6;
	border-left-color: #FFFFFF;
	padding-top: 5px;
}
.xpHeaderTotal {
	background-color: #F3F2E4;
	font-weight: bold;
	border-top-width: 2px;
	border-top-style: double;
	border-top-color: #F9B119;
	border-bottom-width: 2px;
	border-bottom-style: double;
	border-bottom-color: #F9B119;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #DED7B6;
	border-left-color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 2px;
}
.xpHeaderBorder {
	border-width: 1px 2px;
	border-style: solid;
	border-color: #DED7B6;
}
.xpHeaderEven {
	background-color: #F9F8F0;
	padding: 2px 10px 2px 5px;
}
.xpHeaderOdd {
	background-color: #FFFFFF;
	padding: 2px 10px 2px 5px;
}
/* NAVBAR */
#NavBar {
	padding: 0 5px 0 0;
	height: 49px;
}
#NavBar p {
	position: absolute;
	font-size: x-small;
	right: 19px;
	top: 30px;
	margin: 0;
}
#NavBar ul {
	float: right;
	margin: 0;
	padding: 0; /*26px 0 0 0;*/
}
#NavBar li {
	float: left;
	list-style-type: none;
	width:88px;
	height: 20px;
	padding: 4px;
	margin: 0 1px;
	background-image: url(/Common/images/tab_bg.png);
	background-position: bottom left;
	font-size: x-small;
}
#NavBar li:hover {
	padding-top: 6px;
}
* html #NavBar li a:hover {	padding-top: 3%;} 
#NavBar li.selected   {

	padding-top: 12px;
	font-weight: bold;
}
#NavBar a {
	color: #333;
	width:100%;
	display:block;
}
#NavBar li a {
	text-decoration: none;
	color: #333;
}
#NavBar li a img {
	float: left;
	margin: 0 4px 0 0;
}
#NavBar li.logout {
	border: none;
	background-color: #FFF;
	background-image: none;
	padding-top: 4px !important;
	text-align: center;
	width: 53px;
}
/* NAVBAR */
input, select {
	font-size: 11px;
}
.highlight {
	background-color: #FFFF99;
	font-weight: bold;
	color: #000000;
}
.highlightOption {
	background-color: #FFFF99;
	color: #000000;
}
.viewcomments {
	font-size: 70%;
	color: #000000;
	background-image: url(/Common/images/popupicon.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.HeaderAccentDark {
	BACKGROUND-COLOR: #cccc99;
	background-image: url(images/accentDark.gif);
	padding-left: 5px;
	padding-right: 5px;
}
.dateArea {
	background-color: #F7F7E6;
	padding: 4px;
	border: thin solid #DBDB93;
}
.blueNoteArea {
	color: #FFFFFF;
	font-weight: bold;
	background-color: #2647A0;
	text-align: center;
	padding: 10px;
	border: thin solid #003366;
}
.blueNoteAreaBorder {
	border: thin solid #003366;	
}
.blankNoteArea {
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border: thin solid #003366;
}
.editable {
	background-image: url(/Common/images/form-update.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 22px;
}
#hotMessage {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
	border: medium solid #000000;
	text-align: center;
	padding: 10px;
	margin: 3px;
	margin-left: auto; 
	margin-right: auto;
}
#hotMessageWarning {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #C60000;
	padding: 5px;
	border: thin solid #000000;
	margin-top: 10px;
	text-align: center;
}
#privateMessage {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #FF0000;
	border: medium solid #000000;
	text-align: center;
	padding: 10px;
	margin: 3px;
	margin-left: auto; 
	margin-right: auto;
}
#privateMessageWarning {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #C60000;
	padding: 5px;
	border: thin solid #000000;
	margin-top: 10px;
	text-align: center;
}
#paymentMessage {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #009900;
	border: medium solid #000000;
	text-align: center;
	padding: 10px;
	margin: 3px;
	margin-left: auto; 
	margin-right: auto;
}
#paymentMessageWarning {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006600;
	padding: 5px;
	border: thin solid #000000;
	margin-top: 10px;
	text-align: center;
}
#messageCenter {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	background-color: #EBEBDB;
	border: 2px solid #000000;
	text-align: center;
	padding: 10px;
	margin: 3px;
	margin-left: auto;
	margin-right: auto;
}
a.catalog {
	padding-left: 18px;
	background: url(/Common/images/offsite.gif) no-repeat 0% 50%;
	font-weight: bold;
	color: #000000;
}
#commentsHeader {
	text-transform: uppercase;
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
}
a.addBlack {
	padding-left: 18px;
	background: url(/Common/images/addition.gif) no-repeat 0% 50%;
	font-weight: bold;
	color: #000000;
	font-size: 11px;
	text-transform: uppercase;
}
a.addWhite {
	padding-left: 18px;
	background: url(/Common/images/addition.gif) no-repeat 0% 50%;
	font-weight: bold;
	color: #ffffff;
	font-size: 11px;
	text-transform: uppercase;
}
.clickToView {
	font-size: 10px;
	cursor: pointer;
	text-align: center;
}
.dHeader {
	font-size: 10px;
	background-color: #C6C6E3;
	padding-left: 5px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #014B94;
}
.gHeader {
	font-size: 10px;
	padding-left: 2px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
/* Here's an example of an accordion Aqua Gradient theme that uses
 * different class names from the ones used in SpryAccordion.css,
 * to style the different parts of the accordion.
 */
.Accordion {
	border-left: solid 1px gray;
	border-right: solid 1px black;
	border-bottom: solid 1px gray;
	overflow: hidden;
	font-size: 16px;
}

.Accordion .AccordionPanelTab {
	height: 24px;
	background-image: url(/Common/images/idea-gradient.gif);
	background-repeat: repeat-x;
	background-color: #660000;
	border-top: solid 1px black;
	border-bottom: solid 1px gray;
	margin: 0px;
	padding: 2px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	text-align: center;
	color:#FFFFFF;
}

.Accordion .AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 5px;
	background-image: url(/Common/images/overlay.png);
	background-repeat: repeat;
	height: 350px;
	color:#FFFFFF;
}

.Accordion .AccordionPanelContentBlack {
	overflow: auto;
	margin: 0px;
	padding: 5px;
	background-image: url(/Common/images/overlay.png);
	background-repeat: repeat;
	height: 350px;
	color:#000000;
}

.Accordion .hover {
	background-image: none;
	background-color: #660000;
}

.Accordion .open {
	/* Add properties here. */
}

.Accordion .closed {
	/* Add properties here. */
}

.Accordion .focused {
	/* Add properties here. */
}
.editContent {
	background-color:#009900;
	border:1px solid #000000;
	color:#FFFFFF;
	font-size:14px;
}
/*A.searchview {
	color: #000000;
	background-image: url(/Common/images/searchview.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 17px;
	padding-right: 5px;
}
A.preview {
	color: #000000;
	background-image: url(/Common/images/preview.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 16px;
	padding-right: 5px;
}*/
.red {
	font-weight: bold;
	color: #FF0000;
}
.blueItem {
	color: #FFFFFF;
	background-color: #336699;
}
/* -- Yahoo YUI -- */
html > body h1.brandname {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/my_mlogo_beta3.png) no-repeat scroll 0%;
}
html > body h1.brandname img {
display:none;
}
html > body #masthead.min h1.brandname {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/my_mlogo_beta_sm.png) no-repeat scroll 0%;
}
h1.brandname {
height:40px;
width:260px;
}
#masthead.min h1.brandname {
height:25px;
width:175px;
}
a:link, a:visited {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
.on a:hover {
text-decoration:none;
}
.t-shadow {
background:#000000 none repeat scroll 0% 50%;
opacity:0.3;
}
#masthead, #masthead.min {
background:#FFFFFF url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/mast_bg2_sand.gif) repeat scroll 0pt 35%;
}
#masthead #help-links li a {
color:#1C488F;
}
#masthead #ypromo li a {
color:#1C488F;
font-family:arial;
font-size:85%;
font-weight:normal;
letter-spacing:normal;
word-spacing:normal;
}
#masthead span.pipe {
border-left:1px solid #333333;
}
#search span.pipe {
border-left:1px solid #CECFAA;
display:inline;
width:1px;
}
#bd {
background:#FFFFFF url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/body_bg2_sand.gif) repeat scroll 0pt -1100px;
height:100% !important;
min-height:600px;
}
#search a {
color:#1C488F;
}
#search {
color:#333333;
}
.mod .sub-hd {
background:#E8E8E0 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/mod_hd_bg2_sand.gif) repeat scroll 0pt 100%;
}
.mod .sub-hd li.on {
background:#FFFFFF none repeat scroll 0%;
border-bottom:2px solid #FFFFFF;
}
.mod .sub-hd li.on em {
border-left:1px solid #CECFAA;
border-right:1px solid #CECFAA;
}
.mod .sub-hd li {
border-bottom:1px solid #CECFAA;
}
.mod li .pipe {
border-right:1px solid #CECFAA;
}
.mod .foot li.on {
background:#E1E1D6 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/subhd_bg2_sand.gif) repeat-x scroll 0pt 100%;
border:1px solid #CECFAA;
}
.mod .foot li img {
border:1px solid #CECFAA;
}
.mod .foot li.on a {
color:#333333;
}
.mod .body img {
border:1px solid #CECFAA;
}
.mod {
	border:1px solid #CECFAA;
	background-color: #DDDEC7;
}
.mod .hd {
	background:#E8E8E0 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/mod_hd_bg2_sand.gif) repeat scroll 0pt 100%;
	border-bottom:1px solid #CECFAA;
	color:#333333;
	padding-right: 20px;
	padding-left: 20px;
}
.mod .bd a:link, .mod .hd a:link {
	color:#1C488F;
	font-weight: bold;
}
.mod .hd a:visited, .mod .bd a:visited {
color:#69789C;
}
.mod .bd, .t-mod .bd {
color:#333333;
}
.mod .bd ul li {
}
.mod .bd, .mod .ft {
background:#FFFFFF none repeat scroll 0% !important;
opacity:1;
}
.mod-icon, .mod-menu, .mod-refresh, .mod-delete, .mod-collapse, .mod-collapse-closed, .mod-add {
text-decoration:none;
text-indent:-9000px;
}
.mod-menu {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
background-repeat:no-repeat;
}
.mod-refresh {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
background-repeat:no-repeat;
}
.mod-delete {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
background-repeat:no-repeat;
}
.mod-icon {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/favicon.ico) no-repeat scroll 0%;
}
.mod-collapse, .mod-collapse-closed {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
background-repeat:no-repeat;
}
.mod-add {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/plus_icon.gif) no-repeat scroll 0%;
}
.page-pref-menu {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/action_icons.gif) no-repeat scroll -16px 0pt;
text-decoration:none;
text-indent:-9000px;
}
#featured-mod a.open {
color:#000000 !important;
}
#ql {
border-color:-moz-use-text-color #8E9067 rgb(142, 144, 103);
border-style:none solid solid;
border-width:medium 1px 1px;
}
#ql .bd a {
color:#FFFFFF;
text-decoration:none;
}
#ql .bd a:hover {
text-decoration:underline;
}
.t-mod {
background:#ADAE87 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/trough_bg2_sand.gif) repeat-x scroll left top;
}
.t-mod .hd {
}
.t-mod .hd h2 a {
color:#FFFFFF;
}
.t-mod .t-hd {
border-bottom:1px solid #CECFAA;
}
.t-mod .t-ft {
border-top:1px solid #CECFAA;
}
.t-mod .t-ft a {
background:transparent none repeat scroll 0%;
}
.t-mod .t-ft-bb {
border-top:1px solid #CECFAA;
font-size:10px;
line-height:22px;
}
.t-mod .mod-collapse, .t-mod .mod-collapse-closed, #my-sub-nav .mod-collapse, #my-sub-nav .mod-collapse-closed {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif) no-repeat scroll 0%;
}
.type_pa .pabody {
background:#ADAE87 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/trough_bg2_sand.gif) repeat-x scroll left bottom;
}
.type_pa ul.patabs li a {
background-color:#FFFFFF !important;
}
.type_pa ul.patabs li.tab-on div {
background:#FFFFFF none repeat scroll 0% !important;
}
.type_pa .papreviewdiv, .type_pa .papreviewdiv .hd {
background:#FFFFFF none repeat scroll 0% !important;
}
#submasthead #my-page-nav {
background:#E1E1D6 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/subhd_bg2_sand.gif) repeat-x scroll 0pt 100%;
border-bottom:1px solid #CECFAA;
border-top:1px solid #CECFAA;
}
#submasthead #my-page-nav ul li a {
color:#1C488F;
}
#submasthead #my-page-nav ul li span.pipe {
background-color:#CECFAA;
border-right:1px solid #FFFFFF;
}
#submasthead #my-page-nav h2, #submasthead #my-page-nav li.signin {
color:#333333;
}
#submasthead #my-page-nav li.current {
background-color:#6E7047;
}
#submasthead #my-page-nav li.current a.delete {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
}
#submasthead #my-page-nav li.current span.pagelink {
background-color:#6E7047;
}
#submasthead #my-page-nav li.current a.page-name {
color:#FFFFFF;
}
#submasthead #my-page-nav li.add-page {
background:#E1E1D6 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/mod_hd_bg2_sand.gif) repeat scroll 0pt 88%;
border-left:1px solid #CECFAA;
border-right:1px solid #CECFAA;
color:#1C488F;
}
#submasthead #my-page-nav li.add-page a {
border-bottom:1px solid #CECFAA;
border-top:1px solid #CECFAA;
color:#1C488F;
}
#page-name-textbox {
border-width:0px;
}
#my-sub-nav .pbar-links-container {
background-color:#FFFFFF;
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/pbar_bg2_sand.gif);
border-color:-moz-use-text-color #8E9067 rgb(142, 144, 103);
border-style:none solid solid;
border-width:medium 1px 2px;
}
#my-sub-nav .pbar-link-container {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/my_sprite_pb.gif) no-repeat scroll 0%;
border-color:-moz-use-text-color #8E9067 rgb(206, 207, 170) rgb(206, 207, 170);
border-style:none solid solid;
border-width:medium 1px 1px;
cursor:pointer;
}
#my-sub-nav .pbar-link {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
}
#my-sub-nav .pbar-link-container .pbar-link a {
color:#FFFFFF;
}
#my-sub-nav .pbar-link a.norgie, .t-mod a.norgie {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
color:#FFFFFF;
}
#my-sub-nav #trough-quick-links {
background:transparent none repeat scroll 0%;
}
#my-sub-nav #trough-quick-links, #my-sub-nav #my-share {
border-right-color:#CECFAA;
}
#my-sub-nav #trough-quick-links .pbar-link {
background-image:none;
}
#my-sub-nav .pbar-link .mod-collapse, #my-sub-nav .pbar-link .mod-collapse-closed {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif) no-repeat scroll 0%;
}
#my-sub-nav .highlight .pbar-link-container {
background-color:#FFFBCB;
border-color:-moz-use-text-color #C2B94E;
border-style:none solid;
border-width:medium 1px;
}
#my-sub-nav .highlight .pbar-link-container .pbar-link a {
color:#434343;
}
#vsearchtabs li.on a {
color:#333333;
}
.inputtext {
border-color:#7C7C7C rgb(206, 206, 206) rgb(195, 195, 195) rgb(124, 124, 124);
border-style:solid;
border-width:1px;
}
#sboxfooter .answers {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/trough_icons_no_shadow.gif) no-repeat scroll -400px -120px;
padding-left:20px;
}
#sboxfooter .answers a {
background:transparent none repeat scroll 0%;
font-size:0.8em;
}
#sboxfooter .answers a.yans {
font-weight:bold;
}
.btn {
background:#CE9200 url(http://us.i1.yimg.com/us.yimg.com/i/ww/t2/gradients.4.gif) repeat-x scroll 0pt -362px;
border:1px solid #999B9A;
color:#000000;
}
#interstitial {
background:#1C488F none repeat scroll 0%;
font-size:0pt;
line-height:0pt;
position:absolute;
}
.page-nav-drop-target {
background:#1C488F none repeat scroll 0%;
}
.page-nav-drop-target span.pagelink a.page-name {
color:#69789C !important;
}
body > html #vsearchWrap {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/srch_bg2_sand.png) repeat scroll 0% !important;
}
#vsearchWrap #searchIE {
}
#ft {
background:#FFFFFF none repeat scroll 0%;
color:#333333;
}
#ft a {
color:#1C488F;
}
#addedcontentinfo {
border-color:#B0BEC7 rgb(176, 190, 199) rgb(147, 166, 180);
border-style:solid;
border-width:1px;
}
#addedcontentinfo .hd {
background:#EFF4F6 url(http://us.i1.yimg.com/us.yimg.com/i/ww/t5/grd-1px.gif) repeat-x scroll left bottom;
border-bottom:1px solid #AEC3D0;
color:#000000;
margin:0pt;
padding:3px;
}
#addedcontentinfo .bd {
background:#FFF9CB none repeat scroll 0%;
}
#addedcontentinfo .bd h4 {
color:#418900;
}
#addedcontentinfo .close {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/bn/x_d.gif) no-repeat scroll 0%;
padding-bottom:2px;
padding-right:5px;
}
div.yuimenu {
background-color:#FFFAC6;
border-bottom:1px solid #ACC0C9;
border-right:1px solid #ACC0C9;
}
div.yuimenu div.bd {
border-color:#CAD5DB rgb(107, 135, 146) rgb(107, 135, 146) rgb(202, 213, 219);
border-style:solid;
border-width:1px;
}
div.yuimenu li.selected {
background:transparent none repeat scroll 0%;
}
div.yuimenu a:link, div.yuimenu a:visited {
color:#000000;
}
div.yuimenu a {
outline-color:invert;
outline-style:none;
outline-width:medium;
}
div.yuimenu a.selected {
text-decoration:underline;
}
div.yuimenu li.selected a.selected {
color:black;
}
div.yuimenu ul {
border-top:1px solid #CBD4DB;
}
div.yuimenu ul.first-of-type {
border:medium none;
}
#my-personalize-menu.yuimenu, #my-share-menu.yuimenu, #my-advanced-settings.yuimenu, #my-change-layout.yuimenu {
background-color:#FFFBCB;
border:1px solid #C2B94E;
}
#my-personalize-menu.yuimenu div.bd, #my-share-menu.yuimenu div.bd, #my-advanced-settings.yuimenu div.bd, #my-change-layout.yuimenu div.bd {
border:medium none;
}
#my-personalize-menu.yuimenu li.selected, #my-share-menu.yuimenu li.selected, #my-advanced-settings.yuimenu li.selected, #my-change-layout.yuimenu li.selected {
background:#CCC36B none repeat scroll 0%;
}
#my-personalize-menu.yuimenu a:link, #my-personalize-menu.yuimenu a:visited, #my-share-menu.yuimenu a:link, #my-share-menu.yuimenu a:visited, #my-advanced-settings.yuimenu a:link, #my-change-layout.yuimenu a:visited {
color:#000000;
}
#my-personalize-menu.yuimenu a, #my-share-menu.yuimenu a, #my-advanced-settings.yuimenu a, #my-change-layout.yuimenu a {
outline-color:invert;
outline-style:none;
outline-width:medium;
}
#my-personalize-menu.yuimenu li.selected a.selected, #my-share-menu.yuimenu li.selected a.selected, #my-advanced-settings.yuimenu li.selected a.selected, #my-change-layout.yuimenu li.selected a.selected {
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}
#my-personalize-menu.yuimenu ul, #my-share-menu.yuimenu ul, #my-advanced-settings.yuimenu ul, #my-change-layout.yuimenu ul {
border-top:1px solid #C2B94E;
}
#my-personalize-menu.yuimenu ul.first-of-type, #my-share-menu.yuimenu ul.first-of-type, #my-advanced-settings.yuimenu ul.first-of-type, #my-change-layout.yuimenu ul.first-of-type {
border-top:medium none;
}
#my-personalize-menu.yuimenu, #my-share-menu.yuimenu {
border-top:medium none;
}
.type_bookmarks ul.bmMain, .tmpBMContainer .yuimenu, .tmpBMContainer .yuimenu div.yuimenu {
background:#ADAE87 url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/trough_bg2_sand.gif) repeat-x scroll left top;
border:1px solid #CECFAA;
}
.mod .type_bookmarks ul.bmMain .t-hd a, .mod .type_bookmarks ul.bmMain .t-ft a, .type_bookmarks .yuimenu .bd ul li.yuimenuitem a, .tmpBMContainer .yuimenu .bd ul li.yuimenuitem a {
color:#FFFFFF;
text-decoration:none;
}
.type_bookmarks .yuimenu .bd ul li.yuimenuitem a:hover, .tmpBMContainer .yuimenu .bd ul li.yuimenuitem a:hover {
text-decoration:underline;
}
.loading {
color:#7A7A7A;
font-size:92%;
margin:0pt auto;
padding:20px 0pt;
text-align:center;
}
.loading .progress {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/anim_loading_sm.gif) no-repeat scroll left top;
height:16px;
margin:auto;
width:16px;
}
.loading p {
margin:0pt;
padding:0pt;
}
body {
font-family:arial,helvetica,clean,sans-serif;
letter-spacing:normal;
word-spacing:normal;
}
#vsearchtabs li a {
font-family:arial;
font-size:100%;
letter-spacing:normal;
margin:1px;
}
#vsearchtabs li.on {
font-weight:bold;
}
#searchlabel {
font-family:arial;
font-size:132%;
font-weight:bold;
letter-spacing:normal;
}
.btn {
font-family:arial;
font-size:100%;
font-weight:bold;
letter-spacing:normal;
}
.mod .hd h2 {
font-family:arial;
font-size:95%;
font-weight:bold;
letter-spacing:normal;
word-spacing:normal;
}
.mod .bd, .mod .ft {
font-family:arial;
font-size:100%;
font-weight:normal;
letter-spacing:normal;
word-spacing:normal;
}
.mod .bd li .age {
font-family:arial;
font-size:77%;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
small, .small {
font-size:77%;
letter-spacing:normal;
}
.medium {
font-size:85%;
letter-spacing:normal;
}
i #my-page-nav li strong {
font-weight:bold;
}
#masthead #help-links {
font-family:arial;
font-size:85%;
font-weight:normal;
letter-spacing:normal;
word-spacing:normal;
}
#masthead.min #search .btn, #masthead.min #search #p, #masthead.min #search #searchlabel {
font-family:arial;
font-size:85%;
letter-spacing:normal;
word-spacing:normal;
}
div.yuimenu div.bd ul li.yuimenuitem a {
font-weight:bold;
}
#my-prop-nav li.t-ft a {
background:transparent none repeat scroll 0%;
}
#my-prop-nav li a {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/trough_icons_no_shadow.gif) no-repeat scroll 0pt;
}
.t-mod .hd h2 {
font-family:arial;
font-size:100%;
letter-spacing:normal;
word-spacing:normal;
}
.t-mod ul li {
font-family:arial;
font-size:85%;
font-weight:bold;
letter-spacing:normal;
word-spacing:normal;
}
.t-mod ul li.t-ft, .t-mod ul li.t-hd {
font-weight:normal;
}
.strong {
color:#333333;
font-weight:bold;
}
ul#cat-list li, ul#cat-list li a:visited {
color:#16387C;
}
ul#cat-list li, #current-theme, #theme-slider td {
color:#16387C;
font-size:95%;
text-decoration:none;
}
.cat-on, a.cat-on {
color:#333333;
font-weight:bold;
}
.cat-off {
font-weight:normal;
}
#ynav li.t-ft a {
background:transparent none repeat scroll 0%;
}
#ynav li a {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/trough_icons_no_shadow.gif) no-repeat scroll 0pt;
}
#ynav li.t-ft a {
background:transparent none repeat scroll 0%;
}
#ynav li a {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/trough_icons_no_shadow.gif) no-repeat scroll 0pt;
}
#vsearchtabs li.has-menu em {
background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/my_sprite_sand3.gif);
background-position:-24px;
background-repeat:no-repeat;
font-family:Arial;
font-size:0pt;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:0pt;
}
#vsearchmenu.yuimenu {
background-color:#FFFFFF;
border:1px solid #889AA7;
}
#vsearchmenu.yuimenu div.bd {
border:medium none;
}
#vsearchmenu.yuimenu li.selected {
background:#889AA7 none repeat scroll 0%;
}
#vsearchmenu.yuimenu a:link, #vsearchmenu.yuimenu a:visited {
color:#333333;
}
#vsearchmenu.yuimenu a {
font-weight:normal;
outline-color:invert;
outline-style:none;
outline-width:medium;
}
#vsearchmenu.yuimenu li.selected a.selected {
color:#FFFFFF;
text-decoration:none;
}
#submasthead #my-page-nav ul li {
font-family:arial;
font-size:85%;
letter-spacing:normal;
word-spacing:normal;
}
#submasthead #my-page-nav ul li a {
text-decoration:none;
}
#submasthead #my-page-nav h2 {
font-family:arial;
font-size:122%;
font-weight:bold;
letter-spacing:normal;
word-spacing:normal;
}
#my-sub-nav .pbar-link-container {
font-family:arial;
font-size:85%;
letter-spacing:normal;
word-spacing:normal;
}
#my-sub-nav .pbar-link-container .pbar-link a {
font-weight:bold;
text-decoration:none;
white-space:nowrap;
}
.type_placeholder .csc {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/us/my/mw/th/sand/mast_bg2_sand.gif) repeat scroll 0pt;
border:1px solid #CECFAA;
color:#333333;
}
.type_placeholder .csc h2 {
color:#333333;
font-size:130%;
font-weight:bold;
margin-bottom:1em;
}
#shpd .shp {
background:transparent url(http://us.i1.yimg.com/us.yimg.com/i/ww/ydrag.gif) repeat scroll 0%;
}
/* -- Yahoo YUI -- */